@media screen and (max-width: 768px) {
  .first-section {
    height: auto;
    align-items: center;
  }
  h1 {
    height: auto;
  }
  .first-image {
    width: 400px;
    height: 243.76px;
    top: 218px;
    right: 309px;
  }

  .section-2 {
    height: auto;
  }

  .second-section img {
    width: 400px;
    height: 243.76px;
    top: 190px;
    left: -63px;
  }

  h2 {
    margin-left: 0px;
    margin-top: 25px;
  }

  .second-section {
    height: auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .section-2 p {
    margin-left: 0px;
  }

  .section-2 {
    padding-bottom: 0;
    margin-left: 0;
  }
  .second-section img {
    width: 410px;
    height: 256.76px;
    top: 218px;
    left: 20px;
  }
}
