@media screen and(max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
  }

  .first-image {
    width: 500px;
  }

  .second-section {
    padding-bottom: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .second-section p {
    font-size: 15px;
  }
  .second-section img {
    position: absolute;
    width: 630px;
    height: 480.88px;
    left: 300px;
    bottom: 273px;
  }
}
